<div class="card mb-5">
  <div class="card-body mb-5">
    <div class="card-title">Heroes:</div>
    <div class="card-text mx-5">
      {{#each array}}
      <li>{{this.name}}</li>
      {{/each}}
    </div>
  </div>
  </div>

  <!-- <div class="card-body mb-5">
    <div class="card-title">Villains:</div>
    <div class="card-text mx-5">
      {{#each villainArray}}
      <li>{{this.name}}</li>
      {{/each}}
    </div>
  </div>

  <div class="card-body mb-5">
    <div class="card-title">Environments:</div>
    <div class="card-text mx-5">
      {{#each envArray}}
      <li>{{this.name}}</li>
      {{/each}}
    </div>
  </div> -->
