<div class="container">
    <p>
      Hello, and welcome to my project, a randomizer for the CCG (collectible card game) Sentinels of the Multiverse. This page will mostly be a placeholder for now, but come back later for full features and more fun! For now, feel free to check out the links in the navbar to get a paired down set of decks from each of the 3 major types, and click the link <a href="https://sentinelsofthemultiverse.com/">here</a> to check some info on the game itself.
    </p>
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-3 mx-auto mb-5">
          <a href="/login" class="rounded bg-primary p-3 px-4 text-white">Log in</a>
        </div>
        <div class="col-lg-3 mx-auto">
          <a href="/signup" class="rounded bg-success p-3 px-4 text-white">Sign up</a>
        </div>
      </div>
    </div>
</div>
