<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous">
</script>
<title>Sentinels of the Multiverse Randomizer</title>
<style>

.card {
  background-color: #eee;
  width: 80%;
  margin: auto;
}

.title {
  margin-top: 1em;
  margin-left: .5em;
}

</style>
</head>
<body>

  <header class="bg-primary mb-5">
    <div class="container">
      <div class="row">
        <div class="col text-white text-left p-4">
          <p>Sentinels of the Multiverse Randomizer</p>
        </div>
      </div>
    </div>
  </header>

  <div class="card">
    <div class="card-body">
      <div class="card-title">Heroes</div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title">Villains</div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="card-title">Environments</div>
    </div>
  </div>

  <footer class="text-right pt-4 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col text-white">
          <p> Copyright 2018 &copy; Stefen Dahlgren </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>
</html>
