<div class="container">
    <p>
      Hello, and welcome to my project, a randomizer for the CCG (collectible card game) Sentinels of the Multiverse. This page will mostly be a placeholder for now, but come back later for full features and more fun! For now, feel free to check out the links in the navbar to get a paired down set of decks from each of the 3 major types, and click the link <a href="https://sentinelsofthemultiverse.com/">here</a> to check some info on the game itself.
    </p>
</div>
