{{#if messageFail}}
<div class="mx-auto alert alert-danger mb-5 p-3 text-center"> {{messageFail}} </div>
{{/if}}

<div class="card">
  <div class="card-body">
    <form action="/api/login" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" id="username" placeholder="Username" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" class="form-control">
      </div>
      <button type="submit" id="submitLogin" class="rounded bg-primary p-2 px-3 text-white">Submit</button>
    </form>
  </div>
</div>
