<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <div>
        <div class="form-group mx-2">
          <label for="heroSelector">How many Hero decks?</label>
          <select class="form-control" id="heroSelector">
            <option class="">0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
          </select>
        </div>
      </div>
      <div>
        <div class="form-group mx-2">
          <label for="villainSelector">How many Villain decks?</label>
          <select class="form-control" id="villainSelector">
            <option class="">0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <div>
        <div class="form-group mx-2">
          <label for="envSelector">How many Environment decks?</label>
          <select class="form-control" id="envSelector">
            <option class="">0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <button type="submit" id="submitSelectorForm"
      class="rounded bg-primary px-3 text-white my-3 ml-5">
      Submit
    </button>
  </div>
</div>
</div>

<div class="container d-flex">

  <div class="card mt-5 col-3 d-none">
    <div class="card-title">
      Heroes
    </div>
    <div class="card-text">
      <ul class="list-group mb-2" id="heroBox"></ul>
    </div>
  </div>
  <div class="card mt-5 col-3 d-none">
    <div class="card-title">
      Villains
    </div>
    <div class="card-text">
      <ul class="list-group mb-2" id="villainBox"></ul>
    </div>
  </div>
  <div class="card mt-5 col-3 d-none">
    <div class="card-title">
      Environments
    </div>
    <div class="card-text">
      <ul class="list-group mb-2" id="envBox"></ul>
    </div>
  </div>

</div>
