<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" placeholder="Enter email" class="form-control">
        <small class="form-text text-muted">Your email will not be shared with anyone</small>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="username" placeholder="Enter name" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" id="passwordConf" placeholder="Confirm Password" class="form-control">
      </div>
    </form>
    <button type="submit" id="submitForm" class="rounded bg-primary p-2 px-3 text-white">Submit</button>
  </div>
</div>
